.button {
	background-color: #4CAF50;
	color: white;
	padding: 5px 15px;
	border: 3px solid #CCCCCC;
	border-radius: 8px;
	position: absolute;
	right: 5%;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2), 0 6px 2px 0 rgba(0,0,0,0.19);
    width: 100%;
    text-align: center;
    margin: auto;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}
.button:hover{
	background-color: #6ECF72;
}

#back_button{
}

#restart_button{
	top: 80px;
}

.section_title{
	margin: 10px;
	font-size: 30px;
	font-style: normal;
	border: 1px solid #CC0000;
	text-align: center;
	border-radius: 3px;
	color: #AA0088;
	width: 120px;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.19);
}

#menu{
	width:10%;
	position: absolute;
	right:1%;
}

#game_container{
	position: absolute;
	border: 3px solid #333333;
	float:left;
	width: 80%;
	height: 90%;
}

#score{
	position:absolute;
	left:10%;
	top:30%;
	background-color: #EEEEDD;
	padding: 10px;
	border: 3px solid #444477;
	border-radius: 10px;
}

#game_screen{
	position: absolute;
	border: 5px solid #444477;
	margin: auto;
	background-color: #CCCCCC;
	width: 300px;
	height: 300px;
	top:25%;
	left:33%;
}
.column{
	float:left;
	width: 32.65%;
	height: 100%;
	background-color: #BBBBDD;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #774444;
}
.row{
	height: 32.8%;
}

body {
	font-family: 'Arial', sans-serif;
	font-size: 22px;
	background-color: #EEEEEE;
}