

.section_title{
	margin: 10px;
	font-size: 30px;
	font-style: normal;
	border: 1px solid #CC0000;
	text-align: center;
	border-radius: 3px;
	color: #AA0088;
	width: 120px;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.19);
}


body {
	font-family: 'Verdana', sans-serif;
	font-size: 22px;
	text-decoration: none;
	background-color: #e2e1d9
}